<div *ngIf="!isLoading" id="left-proj" class="left-proj">
  <div class="header-proj-wrapper">
    <app-back></app-back>
    <div class="header-proj">
      <img [routerLink]="['/project' ,(id - 1)]" *ngIf="id != 1" class="arrow-proj" src="../../assets/img/left.svg"/>
      <img *ngIf="id != 1 && id != projects.length" class="slash-proj" src="../../assets/img/slash.svg"/>
      <img [routerLink]="['/project' ,(id + 1)]" *ngIf="id < projects.length" class="arrow-proj" src="../../assets/img/right.svg"/>
    </div>
  </div>
  <div class="hashtag animated fadeInDown">{{project.tags}}</div>
  <div style="color:white" class="big-welcome-text-port animated fadeIn" [innerHTML]="project.title"></div>
  <p class="animated fadeInDown" style="color:white" [innerHTML]="project.text"></p>
  <div class="counter">{{id}}</div>
</div>
<div *ngIf="!isLoading" class="right-proj" [ngClass]="{'blink-preloader animated fadeIn infinite': !showImages}"> 
  <img (load)="updateCounter()" *ngFor="let img of project.img; let i = index" src="{{img.url}}" [ngClass]="{'img-style-1': img.style == 1, 'img-style-2': img.style == 2, 'img-style-3': img.style == 3, 'hide-img': !showImages}"/>
</div>
<div *ngIf="isLoading" [ngClass]="{'blink-preloader animated fadeIn infinite': !showImages}"></div>
