<div class="left-proj-about">
  <div class="header-proj-wrapper">
    <app-back></app-back>
  </div>
  <div style="color:black" class="big-welcome-text-port animated fadeIn">Hello, I am <span class="highlight">Moshe Borouchov</span>!</div>
  <p class="animated fadeInDown" style="color:black">
    I am a builder with over ten years of experience as a <span class="highlight">software engineer</span> and five years as a <span class="highlight">product manager</span> leading interdisciplinary teams, promoting my client's business goals. The solutions I deliver emphasize accessibility and promote joy for all users. I had the opportunity to collaborate via my New York agency La Même Bête with numerous public and private French organizations such as la Sécurité Sociale, Université de Paris, Condé Nast, Ogilvy, LVMH, Uber, and Dassault. Some of the topics we worked on include promoting an internal organizational behavioral change to raise awareness on <span class="highlight">LGBTQIA+, gender equality, diversity, and disability inclusion.</span>
  </p>
  <p class="animated fadeInDown" style="color:black">
    Currently, I am pursuing the last semester of my master's degree at <span class="highlight">Cornell Tech</span>, where I have the opportunity to explore my research interests, including cryptography applications for congregations, misinformation, and privacy. 
  </p>
  <p class="animated fadeInDown" style="color:black">
    I was born in Brooklyn, grew up in Israel, completed my military service as an <span class="highlight">intelligence officer</span> at the Israeli Intelligence unit 8200. I spent six years living in Paris, France, before moving back to New York in 2021. I studied mathematics at <span class="highlight">Sorbonne University</span> and visual communication at <span class="highlight">Gobelins - École de l'image</span> in Paris. I am fluent in English, French, and Hebrew and have working proficiency in Persian and Arabic.
  </p>
  <p class="animated fadeInDown" style="color:black">Reach out to me! <a href="mailto:mb2686@cornell.edu">mb2686@cornell.edu</a></p>
  
  <a target="_blank" href="https://medium.com/@moshe_borouchov" class="fa fa-medium"></a>
  <a target="_blank" href="https://github.com/LaMemeBete" class="fa fa-github"></a>
  <a target="_blank" href="https://www.linkedin.com/in/moshe-borouchov-6016601b4/" class="fa fa-linkedin"></a>
  <a target="_blank" href="https://twitter.com/mosheborouchov" class="fa fa-twitter"></a>
  
  
</div>
<div class="right-proj-about"> 
  <img src="../../assets/img/moshe_borouchov.jpeg" class="img-style-1"/>
</div>
