<div class="container-fluid" style="padding: 0px">
  <div class="div-cont">
    <div class="animated" id="overlay-image"  [ngClass]="{'fadeInLeft': in,'fadeOutLeft': !in}"></div>
  </div>
  <div class="contact-info">
    <!--<div style="width: 126px; padding:0;" #refEl [ngClass]="{'contact-slide-out': click}">
      <img style="width: 100%" src="../../assets/img/logo.png" />
    </div>-->
    <div [routerLink]="['/about']" class="oldschool" #refEl>
      <span class="me">MOSHE BOROUCHOV</span>
      <br>
      ABOUT ME
    </div>
    <!--<div class="oldschool" #refEl><a href="mailto:info@lamemebete.xyz">info@lamemebete.xyz</a></div>-->
    <!--<div class="oldschool" #refEl [ngClass]="{'contact-slide-out': click}">&#9679; Contact Us</div>-->
  </div>
  <div class="col-lg-offset-3">
    <div class="proj-list" [ngClass]="{'proj-list-attrib': click}">
      <div *ngFor="let project of projects; let i = index" class="star" #refEl [ngClass]="{'cont-animation-welcome': !click}" (click)="clickMenuItem('project/'+(i+1))" (mouseenter)="mouseEnterLeave(project.preview, refEl)"  (mouseleave)="mouseEnterLeave('', refEl)">
        <div #refEl class="big-welcome-text" >
          <span class="dot" ></span>
          <span style="padding-left: 5px;" [innerHTML]="project.title"></span>
        </div>
      </div>
    </div>
  </div>
  <div id="distortion-text"></div>
</div>
