@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Black.woff2') format('woff2'),
  url('../fonts/Helvetica-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica-Oblique.woff2') format('woff2'),
  url('../fonts/Helvetica-Oblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.woff2') format('woff2'),
  url('../fonts/Helvetica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
$mobile-width: 320px;
$desktop-width: 1024px;

@mixin mobile {
  @media (min-width: #{$mobile-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin keyframe ($animation_name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation ($delay, $duration, $animation, $direction: forward, $fillmode: fowards) {
  -webkit-animation-delay: #{$delay};
  -webkit-animation-duration: #{$duration};
  -webkit-animation-name: #{$animation};
  -webkit-animation-fill-mode: #{$fillmode};
  -webkit-animation-direction: #{$direction};

  -moz-animation-delay: #{$delay};
  -moz-animation-duration: #{$duration};
  -moz-animation-name: #{$animation};
  -moz-animation-fill-mode: #{$fillmode};
  -moz-animation-direction: #{$direction};

  animation-delay: #{$delay};
  animation-duration: #{$duration};
  animation-name: #{$animation};
  animation-fill-mode: #{$fillmode};
  animation-direction: #{$direction};
}
// -- Slide Animations -- //

// Slide Out Top from Center
@include keyframe(animation-slide-out-up) {
  0% {
    transform: translate(0,0);
  }

  100% {
    transform: translate(0,-100%);
  }
}

@include keyframe(blinkpop) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@include keyframe(animation-slide-out-down) {
  0% {
    color: #fff;
    text-shadow: none;
    -ms-transform: rotateY(0deg) scale(1.7) translate(0,0);
    -webkit-transform: rotateY(0deg) scale(1.7) translate(0,0);
    transform: rotateY(0deg) scale(1.7) translate(0,0);
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    color: #fff;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@include keyframe(animation-slide-out-contact) {
  0% {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
}

@include keyframe(animation-slide-out-contact-down) {
  0% {
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
}

// Slide Out Left from Center
@include keyframe(animation-slide-out-left) {
  0% {
    transform: translate(0,0);
  }

  100% {
    transform: translate(-100%,0);
  }
}

// Slide out Right from Center
@include keyframe(skew-enlarge-out) {
  0% {
    color: #fff;
    text-shadow: none;
    -ms-transform: rotateY(0deg) scale(1.5);
    -webkit-transform: rotateY(0deg) scale(1.5);
    transform: rotateY(0deg) scale(1.5);
  }

  100% {
    color: #fff;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    -ms-transform: rotateY(-30deg) scale(1);
    -webkit-transform: rotateY(-30deg) scale(1);
    transform: rotateY(-30deg) scale(1);
  }
}
@include keyframe(skew-enlarge-out-mobile) {
  0% {
    color: #fff;
    text-shadow: none;
    opacity: 0;
    transform: translate(0, 100%);
  }

  100% {
    color: #fff;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    opacity: 1;
    transform: translate(0,0);
  }
}
@include keyframe(skew-enlarge-in) {
  0% {
    color: #fff;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    -ms-transform: rotateY(-30deg) scale(1);
    -webkit-transform: rotateY(-30deg) scale(1);
    transform: rotateY(-30deg) scale(1);
  }

  30% {
    color: #fff;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    -ms-transform: rotateY(-30deg) scale(1);
    -webkit-transform: rotateY(-30deg) scale(1);
    transform: rotateY(-30deg) scale(1);
  }

  100% {
    color: yellow;
    text-shadow: none;
    -ms-transform: rotateY(0deg) scale(1.5);
    -webkit-transform: rotateY(0deg) scale(1.5);
    transform: rotateY(0deg) scale(1.5);
  }
}


@include keyframe(slide-left) {
  0% {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  50% {
    -ms-transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
    opacity: 0.6;
  }

  100% {
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

// Slide out Right from Center
@include keyframe(animation-slide-out-right) {
  0% {
    transform: translate(0,0);
  }

  100% {
    transform: translate(100%,0);
  }
}

@include keyframe(scale-out) {
  0% {
    color: white;
    text-shadow: none;
    -ms-transform: rotateY(0deg) scale(1.5);
    -webkit-transform: rotateY(0deg) scale(1.5);
    transform: rotateY(0deg) scale(1.5);
    opacity: 1;
  }

  100% {
    -ms-transform: rotateY(0deg) scale(1.5);
    -webkit-transform: rotateY(0deg) scale(1.5);
    transform: rotateY(0deg) scale(1.5);
    opacity: 0;
  }
}
@include keyframe(scale-out-mobile) {
  0% {
    color: white;
    text-shadow: none;
    -ms-transform: rotateY(0deg) scale(1);
    -webkit-transform: rotateY(0deg) scale(1);
    transform: rotateY(0deg) scale(1);
    opacity: 1;
  }

  100% {
    -ms-transform: rotateY(0deg) scale(1.1);
    -webkit-transform: rotateY(0deg) scale(1.1);
    transform: rotateY(0deg) scale(1.1);
    opacity: 0;
  }
}


@include keyframe(animation-slide-in-up) {
  0% {
    transform: translate(0,100%);
  }

  100% {
    transform: translate(0,0);
  }
}

@include keyframe(animation-slide-in-down) {
  0% {
    transform: translate(0,-100%);
    opacity: 0;
  }

  100% {
    transform: translate(0,0);
    opacity: 1;
  }
}

// Slide in Left to Center
@include keyframe(animation-slide-in-left) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

// Slide in Right to Center
@include keyframe(animation-slide-in-right) {
  0% {
    transform: translate(100%,0);
  }

  100% {
    transform: translate(0,0);
  }
}
@keyframes marquee {
  0% {
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -ms-transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}
.animation-slide-in-up{
  @include animation(0, 0.5s, animation-slide-in-up, ease);
}

.animation-slide-in-down{
  @include animation(0, 0.5s, animation-slide-in-down, ease);
}

.animation-slide-in-right{
  @include animation(0, 0.5s, animation-slide-in-right, ease);
}

.animation-slide-in-left{
  @include animation(0, 0.5s, animation-slide-in-left, ease);
}

.animation-slide-out-up{
  @include animation(0, 0.5s, animation-slide-out-up, ease);
}

.animation-slide-out-down{
  @include animation(0, 0.5s, animation-slide-out-down, ease);
}

.animation-slide-out-right{
  @include animation(0, 0.5s, animation-slide-out-right, ease);
}

.animation-slide-out-left{
  @include animation(0, 0.5s, animation-slide-out-left, ease);
}
.big-welcome-text {
  -webkit-transform-style: preserve-3d;
  pointer-events: none;
  font-family: 'Helvetica', sans-serif;
  font-weight: 900;
  color: #000000;
  @include mobile {
    font-size: 9vw;
    text-align: left;
    line-height: 1em;
    padding-top: 20px;
    padding-bottom: 20px;
    $elements: 12;
  }

  @include desktop {
    font-size: 4vw;
    text-align: center;
    padding-bottom: 30px;
    line-height: 65px;
    padding-top: 40px;
    @include animation(0, 1s, skew-enlarge-out, ease, forwards);
  }
}
.medium-welcome-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 2em;
  color: #000000;
  text-align: center;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.underlined {
  color: black;
  flex: 1;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background .5s;
  &:hover, {
    background-size: 100% 100%;
  }
  &--thin {
    background-image: linear-gradient(to right, black 0, black 100%);
  }
  &--thick {
    background-position: 0 -0.1em;
  }
  &--offset {
    background-position: 0 0.2em;
    //didn't find another solution than mask the underline shape by a box shadow with the same color than the bg
    box-shadow: inset 0 -.5em 0 0 white;
  }
  &--gradient {
    background-position: 0 -0.1em;
    background-image: linear-gradient(to right, yellow 0, lightgreen 100%);
  }
  &--reverse {
    background-position: 100% -0.1em;
    transition: background 1s; //yep, that's a long link
    background-image: linear-gradient(to right, yellow 0, yellow 100%);
  }
}
.proj-list-attrib {
  $elements: 12;
  @for $i from 0 to $elements {
    .star:nth-child(#{$i}) {
      @include mobile {
        @include animation(0, 0.1s, scale-out-mobile, ease, forwards);
        animation-duration: 0.7s;
        animation-delay: #{$i*0.1}s;
      }
      @include desktop {
        @include animation(0, 0.1s, scale-out, ease, forwards);
        animation-duration: 0.4s;
        animation-delay: #{$i*0.1}s;
      }
      //background-color: red;
    }
  }
}
.star{
  @include mobile {
    padding: 0px 20px;
    border-bottom: 1px solid yellow;
  }
}
.proj-list {
  cursor: pointer;
  @include mobile {
    padding-top: 147px;
    @for $i from 0 to $elements {
      .star:nth-child(#{$i}) .big-welcome-text{
          @include animation(0, 0.1s, skew-enlarge-out-mobile, ease, forwards);
          animation-duration: 0.7s;
          animation-delay: #{$i*0.1}s;
      }
    }
  }
  @include desktop {
    @include animation(0, 1s, animation-slide-in-down, ease);
  }
}
.cont-animation-welcome {
  @include desktop {
    perspective: 700px;
    &:hover{
      > .big-welcome-text{
        @include animation(0, 0.2s, skew-enlarge-in, ease, forwards);
      }
    }
  }

}

.proj-slide-out{
  //pointer-events: auto !important;
  @include animation(0, 10s, animation-slide-out-down, ease, forwards);
}
.contact-slide-out{
  @include mobile {
    @include animation(0, 0.5s, animation-slide-out-contact-down, ease, forwards);
  }
  @include desktop {
    @include animation(0, 0.5s, animation-slide-out-contact, ease, forwards);
  }

}

proj-name-bold{
  color: #000;
}
.block-preview-show {
  max-width: 50vw;
  height: 100vh;
  @include animation(0, 0.5s, animation-slide-in-left, ease, forwards);
}
.block-preview-hide {
  max-width: 50vw;
  height: 100vh;
  @include animation(0, 0.5s, animation-slide-out-left, ease, forwards);
}
.menu-elem-cont {
  &:nth-child(1){
    @include animation(0, 0.5s, animation-slide-in-down, ease);
  }
}
.marquee {
  position: fixed;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: #000;
  color: #fff;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 2em;
  span {
    padding: 10px;
    display: inline-block;
    padding-left: 100%;
    //@include animation(0, 5s, marquee, linear, infinite);
    animation: marquee 20s linear infinite;
  }
}
/*.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}*/

.marquee2 span {
  animation-delay: 1s;
}
.dot {
  @include mobile {
    height: 15px;
    width: 15px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
  }
  @include desktop {
    height: 25px;
    width: 25px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
  }

}
.outline-text {
  color: #fff;
  c:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
p {
  font-family: 'Roboto', sans-serif;
}
.image-portfolio {
  width: 100%;
  &:nth-child(1){
    @include animation(0.2, 1s, animation-slide-in-down, ease);
  }
  &:nth-child(2){
    @include animation(1, 1.4s, animation-slide-in-down, ease);
  }
  &:nth-child(3){
    @include animation(0.6, 1.8s, animation-slide-in-down, ease);
  }
}
.bg-yellow {
  background-color: yellow;
}
.animate-cont-left {
  @include animation(0, 1s, animation-slide-in-down, ease);
}
.btn-back{
  padding-bottom: 20px;
  cursor: pointer;
  @include mobile {
    width: 10vw;
  }
  @include desktop {
    width: 3vw;
  }
  &:hover{
    animation:slide-left 0.8s ease-in-out infinite;
  }
}
.big-welcome-text-port {
  font-family: 'Helvetica', sans-serif;
  font-weight: 900;
  color: #000000;
  text-align: left;
  margin-bottom: 20px;
  padding-bottom: 0px;
  @include mobile {
    font-size: 9vw !important;
  }

  @include desktop {
    font-size:2vw !important;
  }
}
.hashtag{
  font-family: 'Space Mono', monospace;
  font-size: 12px;
  color: yellow;
  margin-bottom: 20px;
}
.counter{
  font-family: 'Share Tech Mono', monospace;
  color: white;
  font-size: 20px;
  @include desktop {
    position: absolute;
    right: 30px;
    bottom: 30px;
    text-align: center;
  }

  @include mobile {
    position: initial;
    text-align: right;
    padding: 20px 0px;
  }
}
.div-cont{
  @include mobile {
    display: none;
  }

  @include desktop {
    display: initial;
  }
  height: 100vh;
  width: 700px;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.4;
  #overlay-image{
    background-size: contain;
    height: 100%;
    width: 100%;
  }
}
.logo-img{
  max-width: 50px;
}
br {
  @include mobile {
    display: none;
  }

  @include desktop {
    display: initial;
  }
}
.me {
  color: white;
  font-weight: 700;
  font-size: 24px;
}
.contact-info{
  z-index: 1;
  position: fixed;
  font-family: 'Space Mono', monospace;
  display: inline-block;
  $elements: 3;
  @for $i from 0 to $elements {
    div:nth-child(#{$i + 1}) {
      animation-duration: 0.3s;
      animation-delay: #{$i*0.1}s;
    }
  }
  div {
    &:hover{
      color: yellow;
    }
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;

    text-align: center;
    @include mobile {
      padding: 5px;
    }
    @include desktop {
      padding: 20px;
    }
  }
  @include mobile {
    top: 10px;
    left: 10px;
    width: 100vw;
    background-color: transparent;
    color: black;
  }

  @include desktop {
    bottom: 10px;
    left: 10px;
    background-color: transparent;
    color: white;
  }
}
.oldschool {
  color: white;
  
}

.left-proj {
  @include mobile {
    width:100%;
    height:auto;
    background-color: black;
    position: initial;
    padding: 30px;
    margin-top: 120px;
  }

  @include desktop {
    width:30%;
    height:100vh;
    background-color: black;
    position: fixed;
    padding: 30px;
  }

}

.left-proj-about {
  @include mobile {
    width:100%;
    height:auto;
    background-color: white;
    position: initial;
    padding: 30px;
    margin-top: 100px;
  }

  @include desktop {
    width:60%;
    height:100vh;
    background-color: white;
    position: fixed;
    padding: 30px;
  }

}

.arrow-proj {
  cursor: pointer;
  @include mobile {
    width:6vw;
    margin-bottom: 0px;
  }
  @include desktop {
    width:2vw;
    margin-bottom: 20px;
  }

}
.slash-proj {
  @include mobile {
    width:4vw;
    margin:0px 5px 0px 5px
  }
  @include desktop {
    width:1vw;
    margin:0px 5px 20px 5px
  }

}
.header-proj-wrapper{
  @include desktop {
    position: initial;
    width: initial;
  }
  @include mobile {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    padding: 30px 30px 0px 30px;
    background-color: black;
    z-index: 1;
    border-bottom: 1px solid yellow;
  }
}
.header-proj{
  display: inline-block;
  float: right;

}
.right-proj{
  @include desktop {
    width:70%;
    position:absolute;
    right:0;
  }
  @include mobile {
    width:100%;
    position:initial;
  }
}
.right-proj-about{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  @include desktop {
    width:40%;
    position:absolute;
    right:0;
    height: 100%;
  }
  @include mobile {
    width:100%;
    position:initial;
  }
}
.img-style-1{
  width:50%;
  display: inline-block !important;
}
.img-style-2{
  width:25%;
  display: inline-block !important;
}
.img-style-3{
  width:100%;
  display: inline-block !important;
}
html,body {
  height:100%;
}
.blink-preloader{
  background-color: yellow;
  height: 100vh;
}
.hide-img{
  opacity: 0;
}
.yellow-text {
  color: yellow;
}
.highlight {
  color: black;
  background-color: yellow;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: black
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none !important;
}
